<p id="notice"><%= notice %></p>

<p>
  <strong>Products:</strong>
  <%= @product_digital.products %>
</p>

<%= link_to 'Edit', edit_product_digital_path(@product_digital) %> |
<%= link_to 'Back', product_digitals_path %>
